.barra-pesquisa{
    background: #F5F5F5;
    width: 67%;
    margin-right: 10%;
    display: flex;
    padding: 8px 16px;
    border-radius: 20px;
    z-index: 2;
    box-sizing: border-box;
} 

.barra-pesquisa__input{
    border: none;
    background: transparent;
    width: calc(100% - 23px);
}

.barra-pesquisa__input:focus{
    outline: none;
}

.barra-pesquisa__botao{
    width: 23px;
    background: transparent;
    border: none;
    padding: none;
}

.barra-pesquisa__botao:hover,
.lupa-individual__lupa:hover,
.lupa-individual__fechar:hover{
    cursor: pointer;
}

.lupa-individual,
.lupa-individual__lupa,
.lupa-individual__fechar{
    display: none;
}

.lupa-individual__fechar{
    font-size: 1.6rem;
    font-weight: bold;
}

@keyframes pesquisa-abrindo {
    to{
        width: 92%;
    }
}

@keyframes pesquisa-fechando {
    0%{
        width: 92%;
    }
    99%{
        width: 12%;
    }
    100%{
        display: none;
    }
}


@media (max-width: 500px){
    .barra-pesquisa{
        display: none;
        left: 92%; 
        width: 0%;
        transform: translateX(-100%); 
        box-sizing: border-box;
        position: absolute;
        height: 50px;
    }

    .barra-pesquisa--abrir{
        display: flex;
        animation: pesquisa-abrindo 1s ease-out forwards;
    }

    .barra-pesquisa--fechar{
        display: flex;
        animation: pesquisa-fechando 1s ease-out forwards;  
    }

    .barra-pesquisa--fechada{
        display: none;
    }
    
    .lupa-individual{
        display: flex;
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }
    
    .lupa-individual__lupa{
        display: block;
    }
    
    .lupa-individual__fechar{
        display: none;
    }
}