.barra-pesquisa{
    background: #F5F5F5;
    width: 45%;
    margin-right: 25%;
    display: flex;
    padding: 8px 16px;
    border-radius: 20px;
    z-index: 2;
} 

.barra-pesquisa__input{
    border: none;
    background: transparent;
    width: calc(100% - 23px);
}

.barra-pesquisa__input:focus{
    outline: none;
}

.barra-pesquisa__botao{
    width: 23px;
    background: transparent;
    border: none;
    padding: none;
}

.barra-pesquisa__botao:hover,
.lupa-individual__lupa:hover,
.lupa-individual__fechar:hover{
    cursor: pointer;
}

.lupa-individual,
.lupa-individual__lupa,
.lupa-individual__fechar{
    display: none;
}

.lupa-individual__fechar{
    font-size: 1.6rem;
    font-weight: bold;
}

@keyframes pesquisa-abrindo {
    to{
        width: 92%;
    }
}

@keyframes pesquisa-fechando {
    0%{
        width: 92%;
    }
    99%{
        width: 12%;
    }
    100%{
        display: none;
    }
}

