/*
Botões:
.botao1,
.botao1--azul1,
.botao1--azul2,
.botao1--azul3,
.botao2,
.botao2--azul1,
.botao2--azul2,
.botao2--azul3*/

.botao{ 
    padding-left: 35px;
    padding-right: 35px;
    transition: transform .15s;
}


.botao:hover{
    transform: scale(1.05);
}

.botao1,
.botao1--azul1,
.botao1--azul2,
.botao1--azul3{
    padding-top: 23px;
    padding-bottom: 23px;
    font-weight: 400;
    font-size: 1.6rem;
}

.botao2,
.botao2--azul1,
.botao2--azul2,
.botao2--azul3{
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 1.4rem;
}

.botao1--azul1,
.botao1--azul2,
.botao2--azul1,
.botao2--azul2{
    color: var(--cor-branco-principal);
    border: none;
}

.botao1,
.botao1--azul3,
.botao2,
.botao2--azul3{
    color: var(--cor-azul-principal);
    border: 1px solid var(--cor-azul-principal);
}

.botao1--azul1,
.botao2--azul1{
    background: var(--cor-azul-principal);
}

.botao1--azul2,
.botao2--azul2{
    background: #5595E9;
}

.botao1--azul3,
.botao2--azul3{
    background: #D4E4FA;
}

.botao1,
.botao2{
    background: transparent;
}