
.fale-conosco__titulo{
    font-weight: 700;
    font-size: 1.6rem;
}

@media (max-width: 768px){
    .fale-conosco{
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    
    .fale-conosco__text-area{
        height: 112px;
    }
}


@media (max-width: 500px){
    .fale-conosco{
        width: 100%;
        grid-column: none;
        grid-row: none;
    }
}
