.conteudo{
    display: grid;
    grid-template-columns: 100%;
    width: 100vw;
    height: auto; 
    box-sizing: border-box;
    grid-template-areas: 
        "banner"
        "produtos";
    grid-template-rows: 352px auto;
}

.produtos__secao__link{
    display: flex;
}

.ver-todos-produtos{
    height: 5rem;
    text-align: center;
}