.conteudo{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.login{
    width: 30%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 100px 0;
    text-align: center;
}

.botao1--azul1{
    font-size: 1.8rem;
}
