.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    min-width: 180px;
    margin-right: 30px;
}

.logo__titulo{
    display: flex;
}


@media (max-width: 768px){
    .logo-principal{
        transform: scale(.7) translateX(-18%);
        margin-right: 0;
    }
}
