*,
a,
p,
label{
    color: var(--cor-fonte-principal);
    font-family: 'Raleway', sans-serif;
}

a{
    color: var(--cor-azul-principal);
}

a:hover:not(.botao):not(.links-importantes__link){
    color: var(--cor-hover-azul);
}