.cabecalho__botao--login,
.cabecalho__botao--sair{
    display: none;
}
.cabecalho__botao__menu{
    display: block;
}

.conteudo{
    background-color: var(--cor-fundo-cinza);
    display: flex;
    justify-content: center;
}

.novo-produto{
    width: 50%;
    display: grid;
    grid-template-columns: 100%;
    box-sizing: border-box;
    padding: 50px 0;
}

.formulario-titulo{
    font-size: 3.2rem;
}

.insercao-foto__botao{
    font-weight: 400;
}


@media (max-width: 1000px){
    .novo-produto{
        width: 70%;
    }
}

@media (max-width: 768px){
    .novo-produto{
        width: 90%;
    }
}


@media (max-width: 360px){

}