@media (max-width: 1000px){
    .cabecalho__principal{
        width: 90%;
    }

    .cabecalho__secao{
        width: 70%;
    }

    .rodape__principal{
        width: 90%;
    }
}


@media (max-width: 768px){
    .logo-principal{
        transform: scale(.7) translateX(-18%);
        margin-right: 0;
    }

    .barra-pesquisa{
        margin-right: 10%;
    }

    .banner{
        background: url(../img/banner-tablet.png) center / cover no-repeat;
    }   

    .banner__conteudo{
        height: 130px;
        top: 45%;
    }

    .banner__titulo{
        font-size: 3.2rem;
    }

    .banner__subtitulo {
        font-size: 1.5rem;
    }

    .produtos{
        padding: 5% 4% 0;
    }

    .produtos__secao__titulo{
        font-size: 22px;
    }

    .produtos__item{
        width: calc(25% - var(--espaco-entre-produtos) + var(--espaco-entre-produtos)/4);
        margin-bottom: 2rem;
    }

    .produtos__item:nth-child(4n){
        margin-right: 0;
    }

    .rodape__principal {
        width: 85%;
        grid-template-columns: 33.5% 31% 13%;
        grid-template-rows: 15% 85%;
        grid-column-gap: 5rem;    
    }

    .rodape__logo{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .links-importantes{
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .fale-conosco{
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    
    textarea.fale-conosco__input{
        height: 112px;
    }
   
}

@media (max-width: 500px){
    .cabecalho__principal{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 130px auto auto;
        width: 85%;
        position: relative;
    }
    
    .cabecalho__principal  .logo{
        margin-right: 0;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    
    .barra-pesquisa{
        display: none;
        left: 92%; 
        width: 0%;
        transform: translateX(-100%); 
        box-sizing: border-box;
        position: absolute;
        height: 50px;
    }

    .barra-pesquisa--abrir{
        display: flex;
        animation: pesquisa-abrindo 1s ease-out forwards;
    }

    .barra-pesquisa--fechar{
        display: flex;
        animation: pesquisa-fechando 1s ease-out forwards;  
    }

    .barra-pesquisa--fechada{
        display: none;
    }
    
    .cabecalho__principal .botao{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    .lupa-individual{
        display: flex;
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }
    
    .lupa-individual__lupa{
        display: block;
    }
    
    .lupa-individual__fechar{
        display: none;
    }

    .banner{
        background: url(../img/banner-celular.png) center / cover no-repeat;
    }

    .banner__conteudo{
        height: 110px;
    }

    .banner__titulo{
        font-size: 2.2rem;
    }

    .banner__subtitulo {
        font-size: 1.4rem;
    }

    .produtos__secao__link{
        font-size: 1.4rem;
    }

    .produtos__secao__img{
        width: 1.4rem;
    }

    .produtos__link{
        font-size: 1.4rem;
    }

    .rodape__principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape__logo{
        margin: 0 0 3rem;
        grid-column: none;
        grid-row: none;
    }

    .links-importantes{
        text-align: center;
        grid-column: none;
        grid-row: none;
        margin-bottom: 3rem;
    }

    .fale-conosco{
        width: 100%;
        grid-column: none;
        grid-row: none;
    }
}

@media (max-width: 360px){
    .produtos__lista{
        justify-content: space-between;
    }

    .produtos__item:nth-child(n){
        width: calc(50% - var(--espaco-entre-produtos));
        margin: 0 0 1rem;
    }

}
