@import url(reset.css);
@import url(padrao.css);
@import url(banner.css);
@import url(barra-pesquisa.css);
@import url(botao.css);
@import url(fale-conosco.css);
@import url(links-importantes.css);
@import url(logo.css);
@import url(produtos.css);
@import url(input.css);

html{
    font-size: 10px;
}

:root{

    --fonte-principal:  'Raleway', sans-serif;
    --fundo-principal: #FDFDFD;
    --cor-branco-principal: #FDFDFD;
    --cor-fonte-principal: #464646;
    --cor-hover-branco: #F5F5F5;
    --cor-fundo-cinza: #F5F5F5;
    --cor-azul-principal: #2A7AE4;
    --cor-hover-azul: #1962c2;
    --espaco-entre-produtos: 1rem;
    --padding-lateral-desktop: 8vw;
    --padding-lateral-tablet: 8vw;
}

.loja{
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 75px auto  auto;
        
    }
    
.cabecalho{
    display: flex;
    width: 100%;
    background: var(--fundo-principal);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
    
.cabecalho__principal{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cabecalho__botao:hover{
    transform: scale(1.05);
}

.cabecalho__botao--logout{
    display: none;
}

.conteudo{
    display: grid;
    grid-template-columns: 100%;
    width: 100vw;
    height: auto; 
    box-sizing: border-box;
}
    
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background: #EAF2FD;
    box-sizing: border-box;
}

.rodape__principal{
    width: 80%;
    display: grid;
    grid-template-columns: 25% 28% 45%;
    grid-template-rows: auto;
    align-items: flex-start;
    grid-column-gap: 2rem;
    padding: 50px 0;
}
    
.sobre-autor{
    background: var(--cor-branco-principal);
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 30px 0;
    width: 100%;
    line-height: 2rem;
}


/*Responsividade do cabeçalho e rodapé*/

@media (max-width: 1000px){
    .cabecalho__principal{
        width: 90%;
    }

    .cabecalho__secao{
        width: 70%;
    }

    .rodape__principal{
        width: 90%;
    }
}


@media (max-width: 768px){
    .rodape__principal {
        width: 85%;
        grid-template-columns: 33.5% 31% 13%;
        grid-template-rows: 15% 85%;
        grid-column-gap: 5rem;    
    }

    .rodape__logo{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
}


@media (max-width: 500px){
    .cabecalho__principal{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 130px auto auto;
        width: 85%;
        position: relative;
    }
    
    .cabecalho__principal .logo{
        margin-right: 0;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
        
    .cabecalho__principal .botao{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    .rodape__principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape__logo{
        margin: 0 0 3rem;
        grid-column: none;
        grid-row: none;
    }
}


