@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(banner.css);
@import url(barra-pesquisa.css);
@import url(botao.css);
@import url(index.css);
@import url(logo.css);
@import url(produtos.css);
@import url(reset.css);

:root{
    --fundo-principal: #FDFDFD;
    --cor-branco-principal: #FDFDFD;
    --cor-hover-branco: #F5F5F5;
    --cor-azul-principal: #2A7AE4;
    --cor-hover-azul: #1553a4;
}

*,
a{
    color: #464646;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 10px;
}

.loja{
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 75px auto  auto;

}

.cabecalho{
    display: flex;
    width: 100%;
    background: var(--fundo-principal);
    align-items: center;
    justify-content: center;
}

.cabecalho__principal{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__secao{
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: space-between;
}

.conteudo{
    display: grid;
    grid-template-columns: 100%;
    width: 100vw;
    height: auto; 
}